/**************************обнуление**************************/
*, *::before, ::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li,ol,ul{
    list-style: none;
}

img{
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

body{
    height: 100%;
    font-size: 16px;
    color: #e5E9F2;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    margin: 0%;
    background-color: #ffffff;

}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    /*display: flex;
    flex-direction: column;*/
}

._container{
    max-width: 1200px;
    margin: 0 auto;
}

._ibg{
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/***************************************************************************************/
 



.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}
.container{
    display: flex;
    align-items: center;
    box-sizing: content-box;
   
    
}
/*****************************header********************************************/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;    
    text-shadow:5px 3px 10px black;  
    background-color: #0000002d;
    transition: background-color 0.2s;
}
.header__filled {
    background-color: #000000be;
    transition: .2s ease-in;
}
  

.header-container{

    display: flex;
    height: 70px;
    align-items: center;
    padding: 0px 15px;
    position: relative;
}


.logo{
    font-size: 30px;
    font-family: 'Water Brush', cursive;
    color: inherit;
    /*margin-right: auto;
    font-weight:900 ;*/
    text-decoration: none;
    transition: color 0.2s;
    
}

.logo:hover{
    text-transform: none;
    color: #e5e;
}

.header-menu{
    width: 100%;
    justify-content: end;
    
}


.menu{  

}

.menu-list{
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    display: flex;
    font-family: 'Overpass', cursive;
    font-weight: 600;
}

.menu-item{
    margin: 0 2% 0 2%;
}


.menu-link{
    font-size: 20px;    
    color: inherit;
    line-height: 130%;
    text-decoration: none;
    transition: color 0.2s;
}


.menu-link:hover{
    text-transform: none;
    color: #e5e;
}

/*****************************headerEnd********************************************/
/*****************************main********************************************/
.main{
   
}
.no-scroll{
    overflow: hidden;
}
.intro__main-block{
}
.main-block{
    position: relative;
}
.main-clock__container{

}

.main-block__body{
    padding: 10% 0px 10% 0px;
    position:relative;
    z-index: 2;
    min-width: 300px;
    text-align: center;
    text-shadow:5px 3px 10px black;
}



.main-block__title{
    font-weight: 900;
    font-size: 70px;
    color: inherit;
    line-height: 150%;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 20px;
}

.main-block__title::after{
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    margin: 30px auto 60px;
    background-color: #efeff1;
    box-shadow:1px 1px 2px black;
   
}


.main-block__text{
    font-weight: 700;
    font-size: 24px;
    color: inherit;
    line-height: 150%;
    padding-bottom: 30px;

}


.main-block__button{

}
.btn{
    color:inherit;
    /*display: inline-block;*/
    vertical-align: top;
    border: 3px solid #e5E9F2;
    padding:10px 30px ;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(31, 31, 31, 0.432);
    box-shadow:1px 1px 2px black;
    text-shadow: 1px 1px 2px black;
    border-radius: 2em;
    transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover{
    background-color: #fff;
    color: black;
    text-shadow: none;
}

.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/******************************about*******************************************************/
/******************************Переделать нормально*******************************************************/
.main__about{
    padding-top: 40px;
    margin: 0px -15px;
    flex-wrap: wrap;
    background-color: rgba(240, 240, 240, 0.671);
}
.about__container {

}
.about__item{
    position: relative;
    padding: 2% 2% 0% 2%;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    text-align: center;
    flex-direction: column;
    flex: 1 1 auto;
}

.item__text{
    color: #424242;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding: 0px 30px;

}
.item__about-title{
    font-size: 60px;
    font-weight: 900;
    margin:20px;
    font-family: 'Comforter', cursive;
}


.item__about-text{
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}



/************************************about__intro*****************/
.about__intro{
    padding: 60px 30px 0 30px;
    text-align: center;
    margin: 0 10px;
}
.about__intro-title{
    font-size: 60px;
    color: #424242;
    font-weight: 900;
    font-family: 'Comforter', cursive;
}

.about_intro_text{
    color: #424242;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding: 0px 30px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
   
}

.item-about__title{
    flex: 33.333%;
    margin: 10px;
}


.about__body{
    padding: 1% 5% 5% 5%;
    display: flex;
    margin: 0px -15px;
    flex-wrap: wrap;
}
.about__column{
    padding: 1%;
    flex: 0 1 33.333%;
}


.about__item2{
    height: 100%;
    color: #424242;
    overflow: hidden;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 30px; 
}
.item-about__title{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-align: center;
    line-height: 150%;
}
.item-about__text{
    font-weight: 400;
    line-height: 140%;
    margin: 5px 10px;
    text-align:center;
}
.item-about__img{
    margin: 0 auto;
    position: relative;
    display: block;
}
.item-about__img::after{
    content: '';
    display: block;
    padding-top: 100%;
}

.item-about__img img{
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
   
}


/*****************************benefits********************************************/
.main__benefits{
    
}
.benefits{
    
}
.benefits__container{

}
.benefits__intro{
    padding: 35px;
    text-align: center;
}

.benefits__intro-title{
    font-size: 60px;
    color: #424242;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: 'Comforter', cursive;
}

.benefits__intro-text{
    font-size: 20px;
    color: #424242;
    font-weight: 500;
}


.benefits__body{
    padding: 0 20px;
    display: flex;
    margin: 0px -15px;
    flex-wrap: wrap;
}
.benefits__column{
    padding: 30px;
    flex: 0 1 33.333%;
}




.benefits__item{
    height: 100%;
    /*box-shadow:4px 5px 3px rgba(0, 0, 0, 0.699);*/
    background-color: #ffffff;
    padding: 10px;
    color: #424242;
}
/*.benefits__item > *:not(:last-child){
    margin: 0 0 40px 0;
}*/

.item-benefits__img{
    margin: 0 0 20px 0;
    
}

.item-benefits__img img{
    width: 50%;
    height: 50%;
    align-items: center;
    display: block;
    margin: 0 auto;
   /* box-shadow:6px 8px 10px #f78960;*/
}
.item-benefits__title{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
    text-align: center;
    line-height: 150%;
}
.item-benefits__text{
    font-weight: 300;
    text-align: center;
    width: 100%;
    line-height: 110%;
    margin: 0 0 5px 0;
}
/*************************************main-stock**********************************************/
.main__stock{
    position: relative;
}
.stock_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.stock_img img{
    
}
.stock__container{

}
.stock__body{
    padding: 5% 0px 5% 0px;
    position: relative;
    z-index: 2;
    text-shadow:10px 2px 15px #000000;
    text-align:center;
}
.stock-block__title{
    z-index: 50;
    color: #e5E9F2;
    font-weight: 900;
    font-size: 60px;
    font-family: 'Comforter', cursive;
    padding: 5%;
    margin-bottom: 10px;
}
.stock__body-button{

}
.btn2{
    font-size: 30px;
}


/************************************catalog***************************************************/
/************************************catalog-header***************************************************/
.section-catalog{
    background: rgb(210, 210, 210);
    background: linear-gradient(201deg, rgb(235, 235, 235) 0%, rgba(230,230,230,1) 50%, rgb(245, 245, 245) 100%);
}

.sectoin-header{
}

.section__title{
    /*color: #e5E9F2;*/
    font-weight: 900;
    font-size: 60px;
    padding: 20px;
    text-align: center;
    background-color: #800080;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}
.catalog-nav{
    display: flex;
    justify-content: center;
}
.catalog-nav__wrapper{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/******************************************************/
.tabs {
    font-size: 0;
    color: #000000;
    text-align: center;
  }
  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    font-size: 16px;
  }

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;   
    margin:20px 0;
  }

  .tabs>label:hover{
    color: #124fdd;
  }
  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    color: #800080;
    border-bottom: 4px solid #800080;
    margin-bottom: 20px;
  }

/************************************end-catalog-header***************************************************/
/************************************catalog***************************************************/
.catalog-container{
    color: #424242;
    width: 100%;
}
.catalog__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px -30px;
}
.product{
    margin: 2%;
    width: 29%;
    overflow: hidden;
    background: rgb(255, 255, 255);
    /*background: linear-gradient(180deg, rgba(154,154,154,1) 0%, rgba(232,232,232,1) 52%, rgba(213,210,210,1) 100%);*/
    border-radius: 40px;
    -webkit-box-shadow: 4px 4px 24px 3px rgba(73, 73, 73, 0.18);
    -moz-box-shadow: 4px 4px 24px 3px rgba(73, 73, 73, 0.18);
    box-shadow: 4px 4px 24px 3px rgba(73, 73, 73, 0.18);
}
.product__img{
    margin: 0 auto;
    position: relative;
    display: block;
}

.product__img::after{
    content: '';
    display: block;
    padding-bottom: 80%;
}
.product__img img{
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;  
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.product__content{

}
.product__title{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px;
    text-align: center;
    line-height: 150%;
}
.product__description{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 10px;
}
.poduct__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}
.product_price{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
}
.product_price-value{

}
.product__currency{

}
.product__btn{
    color: #FFC0CB;
    background-color: #800080;
    border: none;
    max-width: 100%;
}
/************************************catalogEnd***************************************************/
/*************************************feedback***********************************************/
.feedback{
    color: #424242;
}
.feedback-container{

}
.feedback__title{
    font-size: 60px;
    text-align: center;
    padding: 20px;
    font-family: 'Comforter', cursive;
    font-weight: 900;
    letter-spacing: 2px;
}

.feedback__content{
}
.feedback__item{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    color: #424242;
    margin: 40px auto;
    align-items: center;
    padding: 30px 10%;
    height: 100%;
}
.feedback__item:nth-child(2){
    flex-wrap: wrap-reverse;
}

.feddback__img{
    margin: 0 auto;
    position: relative;
    display: block;
    width: 300px;
    margin: 0 20px;
}
.feddback__img::after{
    content: '';
    display: block;
    padding-top: 100%;
}
.feddback__img img{
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.feedback__subtext{
    display: block;
    width: 50%;
    padding: 10px;
}
.feedback__name{
    font-size: 25px;
    font-weight: 500;
}
.feedback__name::after{
    content: "";
    display: block;
    width: auto;
    height: 1px;
    margin: 10px auto 40px;
    background-color: #aaa9a9;
}
.feedback__text{
    font-size: 20px;
}

/*****************************footer*************/
.footer{

}
.footer2{
    max-width: 100%;
    height: 300px;
    position: absolute;  
    background: rgb(108,0,157);
    background: linear-gradient(180deg, rgba(108,0,157,1) 0%, rgba(83,0,121,1) 11%, rgba(31,0,45,1) 61%, rgba(24,0,34,1) 100%);
    overflow: hidden;
    text-align: center;
    width: -webkit-fill-available;
}
.footer__title{
    font-size: 15vw;
    white-space: nowrap;
    font-family: 'Water Brush', cursive;
    letter-spacing: 10px;
    color: #6c009d; 
    position: relative;
    bottom: -5vh;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);

}